.Modal__backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
}
.Modal__content {
	position: absolute;
	top: 50%;
	left: 50%;
	display: flex;
	transform: translate(-50%, -50%);
	min-height: 300px;
	max-width: 600px;
	width: 100%;
	padding: 35px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.Close-modal {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: rgba(128, 128, 128, 0.568);
	cursor: pointer;
}
.Close-modal:hover {
	background-color: rgba(128, 128, 128, 1);
}
